<script>
	export let callToActionButton
	export let data
	export let banner
	export let subtitle
	export let title
	export let zones

	import Zones from "./Zones.svelte"

	const containerClasses = "container mx-auto p-8"
</script>

{#if banner && banner.url}<img class={banner.classes || 'w-1/4 mx-auto my-8'} alt="banner" src={banner.url} />{/if}
{#if title}
	<div class={containerClasses}>
		<slot name="title">
			<h1 class="my-8 text-center text-3xl w-full">{title}</h1>
		</slot>
	</div>
{/if}
{#if subtitle || callToActionButton}
	<div class="text-center mx-4">
		{#if subtitle}
			<div class="h4">{subtitle}</div>
		{/if}
		{#if callToActionButton && callToActionButton.url && callToActionButton.title}
			<div class="mt-8 mb-16">
				<div class="btn btn-tertiary text-3xl inline-block">
					<a href={callToActionButton.url} target="_blank"> {callToActionButton.title} </a>
				</div>
			</div>
			<div>
				<hr class="my-5" />
			</div>
		{/if}
	</div>
{/if}

{#if zones}
	<Zones {zones} {data} {containerClasses} />
{/if}
