<script>
	export let data
	export let zones
	export let containerClasses

	import Zone from "./Zone.svelte"
</script>

{#each zones as { button, title, slug, backgroundImage, backgroundColor }, index}
	<Zone {button} {data} {index} {title} {slug} {backgroundImage} {backgroundColor} {containerClasses} />
{/each}
